:root{

    --main-color: #ebf2f2;
    --dark-color: #006867;
    --light-color: #faf4f4;
    --contrast-color: #3dc4ed;
    --differential-color: #ffe29a;
    --text-menu-color: #6b6c6c;
    --logo-color:#499e9d;

}
